:root {
    --primary-color: rgba(255, 255, 255, 0.788);
    --secondary-color: #f7f9fc;
    --text-color: #5a5a5a;
    --font-color: #2C3038;
    --bg-color: #fff;
    --heading-color: black;
    --card-curve: 6px;
}

[data-theme="dark"] {
    --primary-color: rgba(255, 255, 255, 0.756);
    --secondary-color: #191c1d;
    --text-color: #b7b7b7;
    --font-color: white;
    --bg-color: #131617;
    --heading-color: #eee;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 3.6rem;
}

h2 {
    font-size: 2.9rem;
    line-height: 1;
}

h3 {
    font-size: 1rem;
    line-height: 1rem;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 500;
}

p {
    margin: 16px 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 5px;
}

.specific__2, .mwIntro, .mwNumber, .faq, footer, footer h3 a {
    background-color: var(--secondary-color);
}

header, .specific, .specific__2:hover, .faq li, .mwFeature, .row.card-body, .mwAction, .header__fix, .faq button {
    background-color: var(--bg-color);
}

h1, h2, h4, footer h3 a, span i, header .nav-link, .fa.fa-search, .specific__2 h3 {
    color: var(--font-color);
}

p, a, i, p.card-text {
    color: var(--text-color);
}

.text-body-secondary {
    color: var(--text-color) !important;
}

.theme-switch input {
    display: none;
}

.theme-switch-wrapper i {
    color: #131617;
}

.theme-switch-wrapper .sun, .theme-switch-wrapper .moon {
    position: absolute;
    top: 24px;
    right: 20px;
}

.theme-switch-wrapper .sun {
    color: white;
    opacity: 0;
}

.theme-switch-wrapper .sun.active {
    opacity: 1;
}

input .checkbox {
    display: inline-block;
}

.mwTitle {
    max-width: 750px;
    margin: 50px auto 0;
    text-align: center;
}

.mwTitle button {
    margin: 8px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-top: 48px;
}

.container-2 {
    max-width: 750px;
    margin: auto;
}

.container-fluid {
    padding: 100px 0 50px 0;
}

.button__1, .button__2, .button__3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 52px;
    font-weight: 700;
    transition: all 0.5s;
    padding: 0 30px;
}

.button__1 {
    color: #dc4f72;
    border: 1px solid #dc4f72;
    border-radius: 5px;
}

.button__1:hover {
    background-color: #dc4f72;
    color: white;
}

.bg__fixed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

.bg__fixed::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header__fix {
    position: fixed;
    transition: all 0.5s;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.header__fix, .semi__header{
    height: 90px
}
.navbar__fixed{
    height: 70px
}
.header__fix button span{
    position: absolute;
    width: 100%
}
.header__fix button{
    position: relative
}
.fa-times, .fa-bars {
    display: none;
  }
  .fa-bars.active, .fa-times.active {
    display: inline;
  }
.fa-times.active{
    color: white
}


header li {
    padding: 0 5px;
}

header .container {
    background-color: var(--bg-color);
    line-height: 50px;
    padding: 0 12px;
    position: relative;
    transition: all .5s
}

header .mw__nav.dropdown i {
    color: var(--text-color);
    font-size: 0.7rem;
}
.navbar-toggler {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #dc4f72;
}

.fa.fa-bars {
    width: 24px;
    height: 24px;
    color: white;
}

.head__button {
    line-height: 70px;
}

header i, header span {
    font-size: 1.6rem;
    color: #dc4f72;
    font-weight: 700;
}

header i {
    background-color: var(--bg-color);
    transition: all 0.5s;
}

#navbarNavDropdown {
    justify-content: right;
    text-align:center;
    padding: 0 30px
}
#navbarNavDropdown ul{
    padding-
}
.fa.fa-search {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    line-height: 40px;
    text-align: center;
}

.mw__nav {
    position: relative;
}

.mw__nav::after {
    content: '';
    position: absolute;
    display: block;
    left: 18px;
    bottom: 30%;
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    transition: all 0.5s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, a.nav-link:hover {
    color: #dc4f72;
}

.mw__nav:hover::after {
    width: 20%;
}

.mwAnchor {
    position: relative;
    background: linear-gradient(to right, var(--bg-color) 1%, var(--primary-color));
    overflow: hidden;
}

.anchor__bg {
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/banner.jpg");
}

.mwAnchor p {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 16px 0 48px;
}

.mwAnchor .container {
    align-items: center;
    padding: 0;
}

.mwCarousel {
    position: relative;
    display: flex;
    min-height: 480px;
    justify-content: center;
    padding: 0;
}

.mwCarousel p, .mwCarousel h2 {
    color: white;
}

.carousel__bg {
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/bg.jpg");
}

.carousel__bg::after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33));
}

.Carousel__content {
    width: 47%;
}

.Carousel__content h2, .feature__content h2 {
    font-size: 1.9rem;
}

.Carousel__content p {
    margin: 24px 0 48px;
}

.owl-item .card .col-md-4 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #dc4f72;
    border-radius: 50%;
}

.owl-prev span, .owl-next span {
    display: none;
}

.owl-theme .owl-dots .owl-dot span {
    visibility: hidden;
    width: 40px;
    height: 5px;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #dc4f72;
    visibility: visible;
}

.card {
    background-color: transparent;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin: 24px 1vh 0;
    background-color: white;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    position: relative;
    color: black;
    margin: 0;
}
.card-text i{
    position: absolute;
    left: -3rem;
    top: -5px;
    font-size: 2.5rem;
    color: #c7ccd1
}
.card-title {
    color:#dc4f72;
    padding-top: 20px;
    margin-bottom: 0
}
.card.item{
    border:none
}
.specific .row{
    justify-content:space-around
}
.specific img{
    width: unset
}
.specific__2 h3 {
    margin: 16px 0;
 
    font-weight: 700
}
.specific__2{
    padding: 48px 32px;
    transition: all .5s
}
.specific__2:hover{
    transform: translateY(-10px);
    box-shadow: 1px 5px 7.5px #cccdce;
}

.intro__content p {
    padding-right: 48px
}
.intro__content h2{
    padding-right: 15px
}
.intro__img {
    display: flex;
    justify-content: center;
    padding: 0 0 0 48px
}

.mwIntro img, .faq img, .mwFeature img{
    border-radius: 5px;
    object-fit:cover;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all .5s
}

.mwIntro img:hover, .faq img:hover, .mwFeature img:hover{
    transform: translateY(-10px)
}
.number__content{
    padding: 2rem;
    box-shadow:1px 5px 7.5px rgba(14, 13, 13, 0.2)
}
.number__content h1{
    color:#dc4f72
}

.faq button{    
    border:none;
    cursor: pointer;
    width: 100%;
}
.faq ul{
    list-style:none
}
.faq .row .col-7 li{
    font-size: 1rem;
    background-color: var(--bg-color);
    margin-bottom: 25px;
    border: 1px solid #e7eaecc4 ;
    position: relative;
    line-height: 70px;
    padding-left: 10px;
    border-radius: 5px;
    overflow:hidden
}
.faq button i{
    position:absolute;
    right: 0;
    top: 30px;
}
.faq__detail{
    position: absolute;
    padding: 0 12px 20px;
    transform: translateY(100px);
    line-height: 20px;
    margin:0;
   
}
.faq__detail.active {
    position: relative;
    transform: translateY(0);
    transition: all .25s ease-in-out
}   
.faq h4{
    font-size: 1.2rem;
    text-align:left;
    line-height: 70px
}
.faq__title{
    width: 60%;
    margin: auto
}

.faq__content{
    padding: 0 15px 0 48px
}
.mwFeature ul.nav-pills {
    justify-content:center
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .nav-link {
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 15px;
    cursor: pointer;
    float: left;
    text-align:center;
    border-bottom: 3px solid #c7ccd1;
    border-radius: 0;
    transition: none
}
.nav-pills .nav-link.active{
    color:#dc4f72;
    border-color:#dc4f72
}

.mwFeature .tab-content>.active{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    margin: 20px 0
}
.feature__img{
    border-radius: 5%
}
.mwFeature .container{
    max-width: 996px
}
.mwFeadback {
    position: relative;
    background: linear-gradient(to right,var(--bg-color) 1%, var(--primary-color));
}
.feedback__bg{
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg")
}
.mwFeedback__img {
    width: 10%;
}

.mwFeedback button.owl-dot{
    color: red;
}
.foot__form {
    background-color: white;
    padding: 32px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    border-radius: 5px
}
.foot__email {
    background-color: #f7f9fc;
    border-radius: 5px;
    padding: 12px 20px;
    outline:none;
    border:none;
    width: 78%
}
footer h3 a{
    text-transform:capitalize
}
footer h3{
    margin-bottom: 30px
}
footer button{
    width: 20%
}
footer .row{
    justify-content: space-between;
}
.footer__form{
    margin-bottom: 0;
    padding: 0 15px 0 48px;
}
.foot__form{
    background-color: var(--bg-color)
}
.copy__right{
    position: relative;
    padding-top: 24px;
    margin-top: 48px
}
.copy__right::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e7eaec85;
}
.copy__right a{
    padding: 0 10px;
}
.social span{
    color:black;
    font-weight: bold
}
.w3layout {
    transition: all .5s
}
.w3layout:hover{
    color: red
}
.offcanvas, button.buy__action{
    position: fixed!important;
    right: 0!important;
}
.offcanvas{
    width: 90px!important;
    height: 320px!important;
    top: 21%!important;
    background-color: #0d1326!important;
    border-radius: 8px 0 0 8px!important;
    display: grid!important;
    grid-template-rows: repeat(4, 1fr)!important;
    text-align:center!important;
    font-size: 1rem!important;
    
}
.offcanvas a{
    color:#9d9d9e!important;
    font-weight: 700!important
}
.tip__line{
    position: relative;
}
.tip__line::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    left:0;
    bottom:20%;
    background-color:#8b8b8c85
}
button.buy__action {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 22%!important;
    right: 1%!important;
    background-color: #0d132678;
    border: none;
    color:#e6ebffdf;
    z-index:9999;
}
button.buy__action i, .offcanvas i{
    color:#5a5a5a
}
.mwBacktoTop{
    position: fixed;
    width: 55px;
    height: 50px;
    bottom: 0;
    right: 0;
    background-color:rgba(220, 79, 114, 0.7);
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 50px;
    visibility: hidden
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
@media screen and (max-width: 992.12px) {
    header .container {
        line-height: 10px
    }
    .semi__header{
        height: 51px
    }
    .header__fix{
        padding: 15px 0;
        height: auto;
    }
    .navbar__fixed{
        padding: 10px 0;
        height: auto
    }
    #navbarNavDropdown{
        line-height: 20px;
    }
    #navbarNavDropdown ul{
        padding-top: 20px
    }
    .head__button{
        padding-bottom: 20px
    }
    .theme-switch-wrapper .moon,.theme-switch-wrapper .sun {
        position: absolute;
        right: 2.5em;
        top: 0.3em
    }
} 

