:root {
    --primary-color:rgba(255, 255, 255, 0.93);
    --secondary-color:#f7f9fc;
    --text--color: #5a5a5a;
    --font--color: #2C3038;
    --bg-color: #fff;
    --heading-color: black;
}
[data-theme="dark"] {
    --primary-color:rgba(255, 255, 255, 0.93);
    --secondary-color: #191c1d;
    --text--color: #b7b7b7;
    --font--color: white;
    --bg-color: #131617;
    --heading-color: #eee;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--font--color);
}
h1 {
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 700
}
h2 {
    font-size: 2.9rem;
    line-height: 1;
    font-weight: 700
}
h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 700;
    color:#dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px
}
h4 {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 500
}
p {   
    margin: 16px 0 16px;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 5px
}
.specific__2, .mwIntro, .mwNumber, .faq, footer, footer h3 a{
    background-color: var(--secondary-color)
}
header, .specific, .faq li, .mwFeature, .row.card-body, .mwAction {
    background-color: var(--bg-color)
}

p, a, i, p.card-text{
    color: var(--text--color)
}
.text-body-secondary{
    color: var(--text--color)!important
}
h1, h2, h4, footer h3 a, span i {
    color: var(--font--color)
}
.mwTitle{
    width: 60%;
    margin: 50px auto;
    text-align: center
}
.container, .container-fluid{
    padding-top: 48px;
    padding-bottom: 48px;
}
.container {
    max-width: 1200px;
    margin: auto
}

.button__1, .button__2, .button__3{
    text-transform:uppercase;
    font-size: 1rem;
    padding:12px 25px;
    font-weight: 700;
    transition: all .5s;
    padding: 12px 20px;
}
.button__1 {
    color:#dc4f72;
    border: 1px solid #dc4f72;
    border-radius: 5px;
}
.button__1:hover{
    background-color:#dc4f72;
    color: white
}
.bg__fixed{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    z-index: -1
}
.bg__fixed::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0
}
.header__fix {
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999
}
header li{
    padding: 0 10px
}
header .nav-link{
    color: var(--font--color)
}
header .container{
    line-height: 50px;
    padding: 0;
}

header i, header span{
    font-size: 1.6rem;
    color: #dc4f72;
    font-weight: 700
}
header i{
    background-color: var(--bg-color)
}
.mw__nav {
    position: relative;
}
.mw__nav::after{
    content:'';
    position:absolute;
    display:block;
    left:18px;
    bottom:30%;
    width: 0;
    height: 2px;
    background-color:#dc4f72;
    transition: all .5s;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, a.nav-link:hover{
    color:#dc4f72
}
.mw__nav:hover::after{
    width:20%;
}
.mwAnchor{
    position: relative;
    padding-top: 100px;
    background: linear-gradient(to right,var(--bg-color) 1%, var(--primary-color));
    overflow: hidden
}
.anchor__bg{
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/banner.jpg");
}
.mwAnchor p{
    font-size: 1.3rem;
    font-weight: 400;
}
.mwAnchor .container{
    align-items: center;
    padding:0
}
.mwCarousel{
    position: relative;
    display:flex;
    min-height: 480px;
    justify-content: center;
}
.mwCarousel p, .mwCarousel h2{
    color: white
}

.carousel__bg{
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/bg.jpg");
}
.carousel__bg::after{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33));
}
.Carousel__content{
    width: 47%;
}
.Carousel__content h2, .feature__content h2{
    font-size: 1.9rem
}
.Carousel__content p{
    margin: 24px 0 48px
}
.mwFeadback {
    background: linear-gradient(to right,var(--bg-color) 1%, var(--primary-color));
}
.feedback__bg{
    background-image: url("https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg")
}
.owl-item .card .col-md-4{
    width: 100px;
    height: 100px;
    overflow:hidden;
    border: 3px solid #dc4f72;
    border-radius: 50%;
}
.owl-prev span, .owl-next span{
    display: none
}
.owl-theme .owl-dots .owl-dot span{
    visibility: hidden;
    width: 40px;
    height: 5px;
    border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #dc4f72;
    visibility:visible;
}
.card{
    background-color:transparent;
}
.card-body{
    display: flex;
    justify-content:space-between;
    padding: 32px;
    margin: 24px 1vh 0;
    background-color: white
}
.card-text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    position:relative;
    color:black;
    margin: 0
}
.card-text i{
    position: absolute;
    left: -3rem;
    top: -5px;
    font-size: 2.5rem;
    color: #c7ccd1
}
.card-title {
    color:#dc4f72;
    padding-top: 20px;
    margin-bottom: 0
}
.card.item{
    border:none
}
.specific .row{
    justify-content:space-around
}
.specific img{
    width: unset
}
.specific__2 h3 {
    margin: 16px 0;
    color: var(--font--color);
    font-weight: 700
}
.specific__2{
    padding: 48px 32px;
    background-color:var(--secondary-color);
    transition: all .5s
}
.specific__2:hover{
    transform: translateY(-10px);
    box-shadow: 1px 5px 7.5px #cccdce;
    background-color:var(--bg-color)
}

.intro__content p {
    padding-right: 48px
}
.intro__content h2{
    padding-right: 15px
}
.mwIntro img{
    border-radius: 5px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all .5s
}

.intro__img:hover{
    transform: translateY(-10px)
}
.number__content{
    padding: 2rem;
    box-shadow:1px 5px 7.5px rgba(14, 13, 13, 0.2)
}
.number__content h1{
    color:#dc4f72
}

.faq{
    background-color:var(--secondary-color);
}
.faq button{    
    all: unset;
    cursor: pointer;
    width: 100%;
    transition-timing-function: ease-in-out;
}
.faq ul{
    list-style:none
}

.faq .row .col-7 li{
    background-color: var(--bg-color);
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid #e7eaecc4 
}
.faq__title{
    width: 60%;
    margin: auto
}

.faq__content{
    padding: 0 15px 0 48px
}
.mwFeature ul.nav-pills {
    justify-content:center
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .nav-link {
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 15px;
    cursor: pointer;
    float: left;
    text-align:center;
    border-bottom: 3px solid #c7ccd1;
    border-radius: 0;
    transition: none
}
.nav-pills .nav-link.active{
    color:#dc4f72;
    border-color:#dc4f72
}
.mwFeature .container-2{
    max-width: 950px;
    margin:auto
}
.mwFeature .tab-content>.active{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    margin: 20px 0
}
.feature__img{
    border-radius: 5%
}
.mwFeedback__img {
    width: 10%;
}
.mwFeedback img{
    border-radius: 50%
}
.mwFeedback button.owl-dot{
    color: red;
}
.foot__form {
    background-color: white;
    padding: 32px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    border-radius: 5px
}
.foot__email {
    background-color: #f7f9fc;
    border-radius: 5px;
    padding: 12px 20px;
    outline:none;
    border:none;
    width: 78%
}
footer h3 a{
    text-transform:capitalize
}
footer h3{
    margin-bottom: 30px
}
footer button{
    width: 20%
}
footer .row{
    justify-content: space-between;
}
.footer__form{
    margin-bottom: 0;
    padding: 0 15px 0 48px;
}
.foot__form{
    background-color: var(--bg-color)
}
.copy__right{
    display: flex;
    position: relative;
    justify-content:space-between;
    padding-top: 24px;
    margin-top: 48px
}
.copy__right::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e7eaec85;
}
.copy__right a{
    padding: 0 10px;
}
.social span{
    color:black;
    font-weight: bold
}
.w3layout {
    transition: all .5s
}
.w3layout:hover{
    color: red
}
.offcanvas, button.buy__action{
    position: fixed!important;
    right: 0!important;
}
.offcanvas{
    width: 90px!important;
    height: 320px!important;
    top: 21%!important;
    background-color: #0d1326!important;
    border-radius: 8px 0 0 8px!important;
    display: grid!important;
    grid-template-rows: repeat(4, 1fr)!important;
    text-align:center!important;
    font-size: 1rem!important;
    
}
.offcanvas a{
    color:#9d9d9e!important;
    font-weight: 700!important
}
.tip__line{
    position: relative;
}
.tip__line::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    left:0;
    bottom:20%;
    background-color:#8b8b8c85
}
button.buy__action {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 22%!important;
    right: 1%!important;
    background-color: #0d132678;
    border: none;
    color:#e6ebffdf;
    z-index:9999;
}
button.buy__action i, .offcanvas i{
    color:#5a5a5a
}
.mwBacktoTop{
    position: fixed;
    width: 55px;
    height: 50px;
    bottom: 0;
    right: 0;
    background-color:rgba(220, 79, 114, 0.7);
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 50px;
    visibility: hidden
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
